



*.obj
.vs
*.exp
*.pdb
*.ilk
*.log
*.idb
*.tlog
*.pch

*_Pal3



!.gitignore
!Makefile
!*.txt
!*.c
!*.h
!*.S
!*.def
!*.conf
!*.bat
!*.cpp
!*.dsw
!*.dsp
!*.rc
!*.manifest
!*.rc2
!*.ico
!*.props
!*.vcxproj
!*.vbp
!*.frm
!*.bas
!*.sln
!*.lib
!*.py
!*.plugin

